/* assets/css/apps/mail/cmps/MailSort.css */

section.mail-sort {
  width: 100%;
}

section.mail-sort .mail-sort-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.mail-sort-container .sort-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  select {
    width: 70%;
    border: none;
    outline: none;
    text-align: center;
    box-shadow: var(--box-shadow-tertiary2);

    &:focus {
      box-shadow: var(--box-shadow-tertiary3);
    }
  }
}
