/* assets/css/apps/mail/cmps/MailPreview.css */

.mail-preview {
  display: grid;

  grid-template-columns: 1fr 2fr 1fr;
}

.mail-card-main-select {
  grid-column: 1;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-inline-start: 1.25em;
  gap: 0.5em;
}

.mail-card-main {
  grid-column: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  overflow-x: hidden;
}

.mail-card-main .mail-card-select-subject {
  font-feature-settings: 'liga' 0;
  text-align: left;
  font-size: 0.875rem;
  letter-spacing: normal;
}

.mail-card-main .mail-card-select-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  font-size: 0.875rem;
  letter-spacing: normal;
}

.mail-card-details {
  grid-column: 3;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;

  font-size: 0.75rem;
  letter-spacing: normal;
  color: rgb(95, 99, 104);
  line-height: 20px;
  text-align: right;
  white-space: nowrap;
  margin-inline-end: 1em;
}

.mail-card-main-select,
.mail-card-main,
.mail-card-details {
  padding-block: 0.2em;
}

.mail-preview.unread-mail {
  background-color: #ffffff !important;
}
