/* assets/css/apps/mail/cmps/MailFilter.css */

section.mail-filter,
.main-filter-container {
  background-color: var(--bg-clr-secondary1);
  border: none;
  padding: 0px;
  height: auto;
  width: 100%;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
section.mail-filter form {
  background-color: var(--bg-clr-secondary4);
  border: none;
  padding: 0px;
  margin: 0px;
  height: 100%;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 720px;
  min-width: 324px;
  border-radius: 1em;
}

.filter-section,
.filter-section-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  background-color: transparent;
}
.filter-section-trinary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  background-color: transparent;
}

.\.btns-container {
  align-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: transparent;
}

.filter-section-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 3em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.6875em;
  font-weight: 400;
  padding: 0 1em;
  text-wrap-mode: nowrap;

  &:active,
  &:focus,
  &:focus-within {
    border-radius: 1em;
    background-color: var(--bg-clr-secondary8);
    color: var(--clr-secondary-gray8);
    box-shadow: var(--box-shadow-secondary2);
  }
}
.filter-section-header-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 2.875;

  font-weight: 400;
  text-wrap-mode: nowrap;
}

.filter-section-header label {
  z-index: 30;
  padding: 0 0.3125em;
  height: 2.875;
  width: 3.5em;
  outline-style: none;
  margin: 0;
  white-space-collapse: collapse;
  border-radius: 50%;
}

.filter-section-header .search-options-menu {
  padding: 0.375em;
  height: 1.5em;
  width: 1.5em;
  outline-style: none;
  margin-block-end: 10px;
  white-space-collapse: collapse;
  border-radius: 50%;
}

.filter-section-header input {
  height: 3em;
  margin: 0 6em 0 2.75em;
  border: none;
  outline: none;
  padding: 0px;
  margin-block-end: 2px;
  height: auto;
  width: 100%;
  background-color: transparent;
  appearance: auto;
  color: var(--clr-secondary-black1);
  cursor: text;

  text-align: start;
  font-size: 1rem;

  overflow-x: auto;

  &:focus {
    border: none;
  }
}

.modal-content-filter .filter-section-trinary,
.modal-content-filter .filter-section {
  width: 100%;
}

.modal-content-filter .filter-section {
  justify-content: space-between;
}

.modal-content-filter .filter-section select {
  cursor: pointer;
}

.modal-content-filter .filter-section input,
.modal-content-filter .filter-section select {
  width: 80%;
}

.modal-content-filter .filter-section input,
.modal-content-filter .filter-section-center input,
.modal-content-filter .filter-section select {
  border: none;
  outline: none;
  box-shadow: var(--box-shadow-tertiary2);

  &:focus {
    box-shadow: var(--box-shadow-tertiary3);
  }
}
.\.btns-container.btn-submit-filter,
.\.btns-container .btn-clear-filter {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  border: none;
}
.\.btns-container .btn-clear-filter {
  color: var(--clr-secondary-gray5);
  background-color: transparent;
  font-weight: 500;
  min-height: 36px;
  min-width: 80px;
  padding: 0 16px;
  margin: 0 8px 0 0;
  outline: none;
  border-radius: 4px;

  &:active {
    cursor: default;
    color: var(--clr-secondary-gray6);
  }
}

.\.btns-container .btn-submit-filter {
  background-color: var(--clr-secondary-blue4);
  color: var(--clr-primary-white1);
  padding: 0.4em 1em;
  border-radius: 1em;
  border: none;

  &:hover {
    box-shadow: var(--box-shadow-tertiary8);
    background-color: #297be6;
    outline: 1px solid transparent;
    border: none;
  }
  &:active {
    box-shadow: var(--box-shadow-tertiary8);
    background-color: var(--clr-secondary-blue4);
    border: none;
  }
}
