:root {
  /* Note */
  /* ---- Primary Colors ---- */

  /* ---- Secondary Colors ---- */
  --notes-color-dark: #e8eaed;

  /* ---- Background Colors ---- */
  --main-bg-color: lightblue;
  --notes-bgc-dark: #202124;

  /* ---- Box Shadows ---- */

  /* Mail */
  /* ---- Primary Colors ---- */

  /* ---- Secondary Colors ---- */

  /* ---- Background Colors ---- */

  /* ---- Box Shadows ---- */
}
