.note-detail-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding: 3em;
    min-height: calc(100vh - (70px +  0.5em + 2px));
}

.note-detail {
    text-align: center;
    color: var(--notes-color-dark);
    background-color: var(--notes-bgc-dark);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
}

.detail-note-txt {
    padding: 1em;
}

.todo-item-container {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.todo-check {
    margin-right: 10px;
}

.note-close-button {
    align-self: center;
    border: none;
    font-size: inherit;
    margin-top: 2em;
    padding: 0.7em;
    background-color: rgba(0, 0, 0, 0);
    color: var(--notes-color-dark);
}

.note-close-button:hover {
    cursor: pointer;
    filter: brightness(150%);
    border-radius: 5px;
    background-color: rgba(105, 105, 105, 0.2);
}

.strikethrough {
    text-decoration: line-through;
}