.note-preview {
    break-inside: avoid;
    border: 1px solid var(--notes-color-dark);
    border-radius: 8px;
    white-space: pre-line;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.note-preview:first-child {
    margin-top: 0;
}

.note-preview:hover {
    cursor: pointer;
}

.note-preview:hover .delete-icon {
    opacity: 1;
}

.note-txt {
    text-align: start;
    margin-left: 1em;
}

.delete-icon {
    width:  18px;
    height: 18px;
    opacity: 0;
    transition: opacity;
}
