.note-preview {
    break-inside: avoid;
    border: 1px solid var(--notes-color-dark);
    border-radius: 8px;
    white-space: pre-line;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.note-preview:first-child {
    margin-top: 0;
}

.note-preview:hover {
    cursor: pointer;
}

.note-preview:hover .hover-buttons {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.note-txt {
    text-align: start;
    margin-left: 1em;
}

.note-img {
    margin: 0 3%;
}

.invisable-buttons{
    display: flex;
    justify-content: center;
}

.hover-buttons {
    width:  18px;
    height: 18px;
    margin-left: 5px;
    opacity: 0;
    transition: opacity;
}

.color-picker-button {
    position: relative;
}

.color-picker {
    position: relative;
    background-color: var(--notes-bgc-dark);
    border-radius: 12px;
    border: 1px white solid;
}
