/* flex helpers */

.flex {
  display: flex;
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* grid helpers */

.grid {
  display: grid;
  display: grid;
}

.grid.g-pi-center {
  place-items: center;
}

.grid-gap-05 {
  gap: 0.5em;
}

.grid-gap-1 {
  gap: 1em;
}

/* padding helpers */

.pa-05 {
  padding: 0.5em;
}

.pa-1 {
  padding: 1em;
}

.pa-block-05 {
  padding-block: 0.5em;
}

.pa-block-1 {
  padding-block: 1em;
}

.pa-inline-05 {
  padding-inline: 0.5em;
}

.pa-inline-1 {
  padding-inline: 1em;
}

/* margin helpers */

.ma-in-st-auto {
  margin-inline-start: auto;
}
.ma-in-st-1 {
  margin-inline-start: 1em;
}

.ma-in-en-auto {
  margin-inline-end: auto;
}

.ma-in-en-1 {
  margin-inline-end: 1em;
}

.ma-in-auto {
  margin-inline: auto;
}

.ma-in-1 {
  margin-inline: 1em;
}

.ma-bl-st-auto {
  margin-block-start: auto;
}

.ma-bl-st-1 {
  margin-block-start: 1em;
}

.ma-bl-en-auto {
  margin-block-end: auto;
}

.ma-bl-en-1 {
  margin-block-end: 1em;
}

.ma-bl-auto {
  margin-block: auto;
}

.ma-bl-1 {
  margin-block: 1em;
}

.ma-auto {
  margin: auto;
}

.ma-1 {
  margin: 1em;
}

/* list helpers */

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* border helpers */

.thin-border {
  border: 1px solid var(--clr-primary-black);
}

/* font awsome */

.fa {
  font-family: fa;
}

.fa.fa-facebook::before {
  content: '\f39e';
}

.fa.fa-twitter::before {
  content: '\f099';
}

.fa.fa-dribbble::before {
  content: '\f17d';
}

.fa.fa-behance::before {
  content: '\f1b4';
}

/* text helpers */

.colored-text {
  color: var(--clr1);
}

.text-line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.text-undeline {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

/* positon helpes */
.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.pos-abs {
  position: absolute;
}

/* size helpes */

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
