section.about {
  background-color: black;
  color: white;
  min-height: 90vh;
  height: 100%;

  h1 {
    font-size: 1.8rem;
  }
}

.about-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: 2em;
  padding: 1em;
}
section.about .about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.about-container .profile-image-container {
  max-width: 300px;
  border-radius: 50%;
}
.about-container .profile-image-container img {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em;

  display: block;
  width: 100%;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.profile-about-me {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5em;
  border-radius: 1em;
  border: 5px solid rgba(0, 0, 0, 0.2);

  p {
    max-width: 300px;
  }
}

article.team-profile {
  position: relative;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: min(700px, 100%);
  z-index: 3 !important;
  background-color: black;
  overflow: hidden;
  border-radius: 1em;
  margin-inline: 1em;
}

article.team-profile::before {
  position: absolute;
  content: '';
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  top: 50%;
  right: -50%;
  translate: -50% -50%;
  z-index: -1;

  border-radius: 1em;
  animation: 3s spin linear infinite;
  mask: radial-gradient(circle, transparent 20%, black 90%);

  background-image: conic-gradient(
    from var(--angle),
    #fac42b,
    #e44233,
    #3e6adb,
    #289351,
    #fac42b
  );
}

/* article.team-profile::before {
  filter: blur(1rem);
  opacity: 0.5;
} */

article.team-profile::after {
  content: '';
  position: absolute;
  height: 95%;
  width: 97%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 1em;
  background-color: black;
}
